<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" id="title" required>
        <div>
            <input type="description" name="description" id="description" required>
        </div>
        <div>
            <textarea name="content" id="contetnt" cols="30" rows="10" required></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>